{{!--
Re-usable card for linking to posts
--}}

<div class="mb-14 last-of-type:mb-0">
    <a href="{{url}}" aria-label="{{title}}">
        <h1 class="text-2xl dark:text-white">{{title}}</h1>
    </a>
    <p class="text-gray-500 mt-2">{{excerpt}}</p>

    <div class="mt-4 w-80 grid grid-cols-2">
        <h2 class="text-sm text-blue-500"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></h2>
        <h2 class="text-sm text-blue-500">{{reading_time}}</h2>
    </div>
</div>